/* VISUAL */
.visual {margin-top: 120px; min-width: 1248px; background: url(../images/visual_bg.jpg) no-repeat 50%;}
.visual .inner {height: 646px;}
.visual .title {position: absolute; top: 88px; left: -10px;}
.visual .btn {position: absolute; top: 259px; left: 173px;}
.visual .cup1.image {position: absolute; bottom: 0; right: -47px;}
.visual .cup1.text {position: absolute; top: 38px; right: 171px;}
.visual .cup2.image {position: absolute; bottom: 0; right: 162px;}
.visual .cup2.text {position: absolute; top: 321px; right: 416px;}
.visual .spoon {position: absolute; bottom: 0; left: 275px;}
.visual .fade-in {opacity: 0;}


/* NOTICE */
.notice {min-width: 1248px;}
.notice .notice-line {position: relative;}
.notice .notice-line .bg_left {position: absolute; top: 0; left: 0; width: 50%; height: 100%; background-color: #333;}
.notice .notice-line .bg_right {position: absolute; top: 0; right: 0; width: 50%; height: 100%; background-color: #f6f5ef;}
.notice .notice-line .inner {display: flex; height: 62px;}
.notice .notice-line .inner__left {display: flex; align-items: center; width: 60%; height: 100%; background-color: #333;}
.notice .notice-line .inner__left h2 {margin-right: 20px; color: #fff; font-size: 17px; font-weight: 700;}
.notice .notice-line .inner__left .swiper-container {flex-grow: 1; height: 62px; overflow: hidden;}
.notice .notice-line .inner__left .swiper-container .swiper-slide {display: flex; align-items: center; height: 62px;}
.notice .notice-line .inner__left .swiper-container .swiper-slide a {color: #fff;}
.notice .notice-line .inner__left .notice-line__more {display: flex; justify-content: center; align-items: center; width: 62px; height: 100%;}
.notice .notice-line .inner__left .notice-line__more .material-icons {color: #fff; font-size: 30px;}
.notice .notice-line .inner__right {display: flex; justify-content: flex-end; align-items: center; width: 40%; height: 100%;}
.notice .notice-line .inner__right h2 {font-size: 17px; font-weight: 700;}
.notice .notice-line .inner__right .toggle-promotion {display: flex; justify-content: center; align-items: center; width: 62px; height: 62px; cursor: pointer;}
.notice .notice-line .inner__right .toggle-promotion .material-icons {font-size: 30px;}

.notice .promotion {position: relative; width: 100%; height: 693px; background-color: #f6f5ef; overflow: hidden; transition: height .4s;}
.notice .promotion.hide {height: 0;}
.notice .promotion .swiper-container {position: absolute; top: 40px; left: 50%; margin-left: calc((819px * 3 + 20px) / -2); width: calc(819px * 3 + 20px); height: 553px;}
.notice .promotion .swiper-slide {opacity: .5; transition: opacity 1s;}
.notice .promotion .swiper-slide-active {opacity: 1;}
.notice .promotion .swiper-slide .btn {margin: 0 auto;}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {margin: 0 6px 0 0; width: 12px; height: 12px; background-image: url('../images/promotion_slide_pager.png'); outline: none; background-color: transparent; opacity: 1;}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {margin-right: 0;}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {background-image: url('../images/promotion_slide_pager_on.png');}
.notice .promotion .swiper-prev, 
.notice .promotion .swiper-next {display: flex; justify-content: center; align-items: center; position: absolute; top: 300px; width: 42px; height: 42px; border: 2px solid #333; border-radius: 50%; z-index: 1; cursor: pointer; outline: none; transition: .4s;}
.notice .promotion .swiper-prev {left: 50%; margin-left: -480px;}
.notice .promotion .swiper-next {right: 50%; margin-right: -480px;}
.notice .promotion .swiper-prev:hover, 
.notice .promotion .swiper-next:hover {background-color: #333; color: #fff;}


/* REWARDS */
.rewards {position: relative;}
.rewards .bg-left {position: absolute; top: 0; left: 0; width: 50%; height: 100%; background-color: #272727;}
.rewards .bg-right {position: absolute; top: 0; right: 0; width: 50%; height: 100%; background-color: #d5c798;}
.rewards .inner {height: 241px; background: url('../images/rewards.jpg');}
.rewards .btn-group {position: absolute; bottom: 24px; right: 0; display: flex; flex-wrap: wrap; width: 250px;}
.rewards .btn-group .sign-up {margin-right: 10px;}
.rewards .btn-group .sign-in {width: 110px;}
.rewards .btn-group .gift {margin-top: 10px; flex-grow: 1;}


/* YOUTUBE VIDEO */
.youtube {position: relative; height: 700px; background-color: #333;  overflow: hidden;}
.youtube .youtube__area {position: absolute; left: 50%; top: 50%;  margin: calc(1900px * 9 / 16 / -2) 0 0 calc(1900px / -2); width: 1900px; background-color: orange;}
.youtube .youtube__area:before {content: ''; display: block;  padding-top: 56.25%; width: 100%; height: 0;}
.youtube .youtube__cover {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: url('../images/video_cover_pattern.png'); background-color: rgba(0,0,0,.3);}
.youtube #player {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.youtube .inner {height: 700px;}
.youtube .floating1 {position: absolute; top: 50px; left: 0;}
.youtube .floating2 {position: absolute; top: 350px; left: 150px;}


/* SEASION PRODUCT */
.season-product {background: url('../images/season_product_bg.jpg');}
.season-product .inner {height: 400px;}
.season-product .floating3 {position: absolute; top: -200px; right: 0;}
.season-product .text-group {position: absolute; top: 110px; right: 100px;}
.season-product .text-group .title {margin-bottom: 10px;}
.season-product .text-group .description {margin-bottom: 15px;}


/* RESERVE COFFEE */
.reserve-coffee {background: url('../images/reserve_bg.jpg');}
.reserve-coffee .inner {height: 400px;}
.reserve-coffee .reserve-logo {position: absolute; top: 110px;  left: 0;}
.reserve-coffee .text-group {position: absolute; top: 124px; left: 208px;}
.reserve-coffee .product {position: absolute; top: 0; right: 0;}


/* PICK YOUR FAVORITE */
.pick-your-favorite {background: url('../images/favorite_bg.jpg') no-repeat 50% 50%; background-attachment: fixed; background-size: cover;}
.pick-your-favorite .inner {padding: 110px 0;}
.pick-your-favorite .text-group {display: flex; flex-wrap: wrap; justify-content: flex-end; width: 362px;}
.pick-your-favorite .text-group .title {margin-bottom: 40px;}
.pick-your-favorite .text-group .description {margin-bottom: 40px;}


/* RESERVE STORE */
.reserve-store {background: url('../images/reserve_store_bg.jpg') no-repeat 50% 50%; background-attachment: fixed; background-size: cover;}
.reserve-store .inner {display: flex; justify-content: center; align-items: center; height: 600px;}
.reserve-store .medal {width: 334px; height: 334px; perspective: 600px;}
.reserve-store .medal .front, 
.reserve-store .medal .back {position: absolute; width: 334px; height: 334px; backface-visibility: hidden; transition: 1s;}
.reserve-store .medal .front {transform: rotateY(0);}
.reserve-store .medal:hover .front {transform: rotateY(180deg);}
.reserve-store .medal .back {transform: rotateY(-180deg);}
.reserve-store .medal:hover .back {transform: rotateY(0);}.reserve-store .medal .back .btn {position: absolute; top: 240px; left: 0; right: 0; margin: 0 auto;}


/* FIND STORE */
.find-store {background: url('../images/find_store_bg.jpg');}
.find-store .inner {height: 400px;}
.find-store .textture1 {position: absolute; top: 0; left: 400px;}
.find-store .textture2 {position: absolute; bottom: 0; right: 0;}
.find-store .picture {position: absolute; border-radius: 50%; box-shadow: 2px 2px 8px rgba(0,0,0,.5);}
.find-store .picture1 {top: -60px; left: 0;}
.find-store .picture2 {top: 150px; left: 250px;}
.find-store .text-group {position: absolute; top: 120px; left: 550px;}
.find-store .text-group .title {margin-bottom: 20px;}
.find-store .text-group .description {margin-bottom: 20px;}


/* AWARDS */
.awards {background-color: #272727;}
.awards .inner {padding: 40px 0;}
.awards .swiper-container {width: 100%; height: 40px; overflow: hidden;}
.awards .swiper-prev, .awards .swiper-next {display: flex; justify-content: center; align-items: center; position: absolute; top: 0; bottom: 0; margin: auto; width: 42px; height: 42px; border: 2px solid #fff; border-radius: 50%; outline: none; color: #fff; opacity: .3; cursor: pointer;}
.awards .swiper-prev:hover, .awards .swiper-next:hover {background-color: #fff; color: #333;}
.awards .swiper-prev {left: -100px;}
.awards .swiper-next {right: -100px;}


/* 맨 위로 */
#to-top {display: flex; justify-content: center; align-items: center; position: fixed; bottom: 30px; right: 30px; width: 42px; height: 42px; background-color: #333; color: #fff; border: 2px solid #fff; border-radius: 10px; cursor: pointer; z-index: 9;} 